.navbar-inverse {

    background-color:#616161;
    border-color: #080808;
    border-radius: 5px;
    margin-bottom: 0;


}	
.navbar-default {
	background-color:#263238;
	border-radius: 5px;
	margin-bottom: 0;
	height: 80px;
}	


.bit_logo {
	margin-left: 10px;
	margin-top: 1px;
	border-radius: 45%;
}

h3 {
	margin-top: 25px;
	float: left;
	position: static;
	color: white;
	margin-left: 200px;

	
}

.ucsc_logo {
	margin-left: 355px;
	margin-bottom: 4px;
	border-radius: 20%;
	position: absolute;

}


#student {
	width: 800px;
	height: 550px;
	margin-left: 270px;
	margin-top: 30px;
	position: absolute;
	float: left;
	padding: 20px;

	background-color:#EEEEEE;
	

}
#payment {
	width: 800px;
	height: 400px;
	margin-left: 270px;
	margin-top: 30px;
	position: absolute;
	float: left;
	padding: 20px;

	background-color:red;
}

.sidebar {
  position: absolute;
  top: 132px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

.left-side-bar{
	position: absolute;
}

